*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    padding:20px;
}

.main-container{
    min-width: 1300px;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}

.div-Element{
    width: 75px;
    height:75px;
    background-color: red;
}

.new-color.div-Element{
    background-color: black;
}