*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    gap:15px;
}

.main-container{
    display: flex;
    width: 960px;
    height: 960px;
    flex-wrap: wrap;
    align-content: flex-start;
    gap:0px;
    background-color: blanchedalmond;
}

.div-Element{
    background-color: #D9CFC7;
    border: 0.1px solid black;
}

.new-color.div-Element{
    background-color: #C9B59C;
}