*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    gap:15px;
}

.main-container{
    min-width: 960px;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    gap:0px;
}

.div-Element{
    width: 60px;
    height:60px;
    background-color: #D9CFC7;
    border: 0.1px solid black;

}

.new-color.div-Element{
    background-color: #C9B59C;
}